<!DOCTYPE html>
<html>

<head>
    <title>Shipping Cost</title>
</head>

<body>
    
    <div class="card" style="width: 25rem; padding: 10px 10px 10px 10px;">
        <h2 class="card-title">Shipping Costs</h2>
        <img class="card-img-top" src="\week09\USPS-rounded-logo.png" alt="USPS Eagle">
        <div class="card-body">
            <p>Shipping Type: <%= typeDisplay %></p>
            <p>Weight: <%= weight %> oz</p>
            <p>Cost: $<%= cost.toFixed(2) %></p>
        </div>
    </div>
</body>

</html>